<h1>Required Beds </h1>

This notebook was used to analyze the number of required beds for inside region patients in the dataset to provide values to compare to simulation outputs.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#seaborn settings
sns.set_theme(style="whitegrid")
sns.set_context("paper")
sns.despine(left=True,right=True)
#deactivate warnings
import warnings
warnings.filterwarnings('ignore')
#import smf

In [3]:
#load df
df = pd.read_csv("example_dataset.csv")
df.head(20)

,patient_id,number_of_children,sex,birth_weight,hoftiezer,nicu_admission,stay_number,start_date,end_date,hospital_id,...,others_indicator,region,hospital,ward,ward_level,c_section,season,month,year,gestational_age
0,1060,3,1,2870,5.201997,0,4,5/28/20,6/3/20,1,...,0,Region B,Hospital 3,Medium,Medium,1,Spring,5,2022,224
1,1035,4,1,1918,6.464396,0,3,5/4/23,5/24/23,3,...,0,Region B,Hospital 2,Medium,High,0,Spring,8,2021,245
2,1042,3,0,567,2.550351,0,1,2/4/23,2/10/23,2,...,1,Region B,Hospital 2,High,High,1,Autumn,6,2020,273
3,1079,1,0,4379,8.121736,1,4,7/31/22,8/14/22,3,...,0,Region B,Hospital 2,High,High,0,Winter,12,2022,168
4,1045,2,0,1625,1.316996,1,4,8/30/20,9/23/20,2,...,0,Region C,Hospital 2,NICU,Medium,1,Winter,9,2021,203
5,1056,1,1,4081,3.497776,1,1,10/10/22,10/27/22,1,...,1,Region B,Hospital 3,Medium,NICU,0,Summer,11,2022,231
6,1017,4,1,1071,9.799039,0,2,1/23/20,2/16/20,2,...,1,Region A,Hospital 1,Medium,High,1,Autumn,9,2023,175
7,1040,4,1,2689,1.484908,0,3,1/14/22,1/18/22,3,...,1,Region C,Hospital 2,High,NICU,0,Summer,4,2021,266
8,1031,1,1,2358,3.806247,0,4,8/5/22,8/16/22,3,...,1,Region C,Hospital 2,NICU,High,0,Autumn,6,2023,259
9,1064,1,1,4082,4.795889,0,1,12/3/22,12/20/22,1,...,1,Region C,Hospital 2,NICU,Medium,0,Spring,10,2020,182
10,1046,4,0,1293,7.405028,1,3,3/3/23,3/30/23,1,...,0,Region C,Hospital 2,Medium,High,1,Winter,10,2022,245
11,1016,4,0,2997,5.413264,1,3,7/5/21,7/14/21,1,...,1,Region A,Hospital 3,High,NICU,0,Autumn,3,2022,210
12,1098,1,0,2137,8.761988,1,2,10/9/20,10/10/20,3,...,1,Region B,Hospital 3,Medium,Medium,0,Summer,5,2023,245
13,1080,2,0,2346,8.620202,0,1,5/1/23,5/7/23,1,...,1,Region A,Hospital 3,NICU,High,1,Autumn,12,2022,210
14,1026,2,0,2738,7.295340,0,3,1/11/20,2/4/20,3,...,1,Region B,Hospital 3,NICU,High,1,Autumn,11,2022,182
15,1033,1,1,3810,3.950007,0,4,1/19/21,2/6/21,1,...,1,Region A,Hospital 2,NICU,High,0,Autumn,11,2022,203
16,1016,3,1,2858,8.107366,1,3,10/10/22,10/24/22,2,...,1,Region B,Hospital 2,NICU,NICU,1,Spring,10,2023,273
17,1082,4,0,2507,5.141159,1,2,5/6/21,5/25/21,1,...,0,Region A,Hospital 1,NICU,Medium,1,Summer,9,2020,210
18,1082,3,1,3747,3.670276,1,2,2/26/21,3/7/21,1,...,1,Region B,Hospital 2,High,NICU,0,Autumn,1,2021,210
19,1058,2,1,2112,1.117015,1,4,1/19/20,2/10/20,1,...,0,Region A,Hospital 2,Medium,NICU,1,Autumn,8,2021,210

In [4]:
#difference in days between lowest and latest start_date
#start date to date
df["start_date"] = pd.to_datetime(df["start_date"])

number_of_days = (df["start_date"].max() - df["start_date"].min())
#number_of_days to int
number_of_days = number_of_days.days
number_of_days

1399

In [5]:
#show all patient_region
df["region"].unique()

array(['Region B', 'Region C', 'Region A'], dtype=object)

In [6]:
#filter only patients with patient_region != 'Other (Outside)' and not 'Regio Delft
df = df[df["region"] != 'Other (Outside)']
df = df[df["region"] != 'Regio Delft']
df["region"].unique()

array(['Region B', 'Region C', 'Region A'], dtype=object)

In [7]:
df['ward_level'] = df['ward_level'].apply(lambda x: 'high' if x == 'unknown' and np.random.rand() < 0.6 else 'medium' if x == 'unknown' else x)

In [8]:
#sum all length_of_stay per ward_level
patient_days = df.groupby("ward_level")["length_of_stay"].sum()
patient_days.reset_index()

  ward_level  length_of_stay
0       High             443
1     Medium             622
2       NICU             513

In [9]:
#divide length_of_stay by number_of_days
patient_days = patient_days / number_of_days
patient_days

ward_level
High      0.316655
Medium    0.444603
NICU      0.366690
Name: length_of_stay, dtype: float64